/* glopal */
body{
    overflow: hidden;
}
:root{
    --main-color:#ff206e;
    --section-padding:70px;
    scroll-behavior: auto;
}
.main-color{
    color: var(--main-color);
}
*{
    text-decoration: none !important;
}
.main-title{
    text-align: center;
    margin-bottom: 50px;
}
.main-title .title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.main-title .title h2{
    position: absolute;
    font-size: 3rem;
    letter-spacing: 10px;
    font-weight: 700;
}
.main-title .title h3{
    font-size: 7rem;
    letter-spacing: 25px;
    color: #cccccc94;
}
/* glopal */
/* navbar */

nav .active{
    color:var(--main-color) !important; 
}
/* navbar */
/* header */
header{
background-image: url('../images/home-bg.jpg');  
background-size: cover; 
background-position: center center;
min-height: 100vh;
display: flex;
align-items: center;
}
header ul{
    display: flex;
    
}
header ul a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.342);
    color: white;
    transition: all 1s;
   
}
header ul a:hover{
color: var(--main-color);
}
header ul li{
    margin-top: 10px;
    margin-inline: 3px;
}
header ul i{
    font-size: 25px;
}
header h1{
    color: white;
    font-size: 4rem;
}
header p{
    color: white;
    font-size: 19px;
}
header .special{
    color: var(--main-color);
    font-size: 18px;
}
/* hearder */
/* about */
 #about{
    padding-block: var(--section-padding);
    background-image: url('../images/light_dot.jpg');
 }
/* about */
/* services */
#services {
   
    background-image: url('../images/dark_dot.jpg');
    color: white;
    padding: var(--section-padding);
}
#services .item{
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    position: relative;
  
}
#services .item i{
    position: absolute;
    bottom:87%;
    left: 50%;
    background-color: black;
    color: white;
    font-size: 30px;
    transform: translatex(-50%);
    border-radius: 50%;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.664);
    z-index: 10;
}
#services .item h3{
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
}
#services .item h3::after{
    content: '';
    background-color: #ff206e;
    width: 70px;
    height: 2px;
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
}
#services .item:hover h3::after{
    width:100% ;
}
.spin i{
    position: fixed;
    top: 50%;
    left: 0;
    color: #ff206e;
    font-size: 20px;
}
/* services */
/* testimonial */
#testimonial{
    padding: var(--section-padding);
}
#testimonial .carousel-item img{
    width: 100px;
    border-radius: 50%;
    transform: translatey(50%);
}
#testimonial .slide{
    width: 80%;
    margin:auto ;
}
#testimonial .carousel-indicators [data-bs-target]{
    width: 80px ;
    height: 80px;
    border-radius: 50%;
    text-indent: 0;
}
#testimonial button img{
    border-radius: 50%;
    z-index: 10;
   
}
/* testimonial */
/* loading screen */
.loading{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #333;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    width: 48px;
    height: 48px;
    border: 3px dotted #FFF;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px dotted #FF3D00;
    border-style: solid solid dotted;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  } 
/* loading screen */
/* side bar */
#sidebar{
    
    position: fixed;
    top: 30%;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: flex-start;
    white-space: nowrap;
}
.side-box{
    background-color: #ccc;
    padding: 10px;
    display: none;
}
#sidebar i{
    background-color: #ff206e;
    padding: 10px;
    cursor: pointer;
}

.box-color{
    width: 30px;
    height: 30px;
    background-color: #09c;
    display: inline-block;
    cursor: pointer;
}
/*side bar */
